{% extends 'mainapp/base.html' %}
{% load static %} 
{% block content %}
    <div class="delete_product_container">
        <img class="heading_img" src="{% static 'mainapp/images/delete.png' %}" alt="Delete Product">
        <form action="" method="post">
            <!-- {% csrf_token %} -->
            <div>
                <h5>Are you sure you want to delete this product : {{product.name}}</h5>
                <div style="margin: auto;">
                    <img src="{{product.image.url}}" alt="Product_img" style="text-align: center;">
                </div>
                            
            <input type="submit" name="Confirm"  class="bttn_yes" value="Confirm" style="width: 250px;">
            <a href="{% url 'shopapp:products' %}"><input type="submit" name="Cancel" class="bttn_no" value="Cancel" style=" width: 250px;"></a>
        </form>
    </div>
    
{% endblock %}